# Ignore vendor directory created by Composer
/vendor/

# Ignore node_modules directory created by npm
/node_modules/

# Ignore Composer lock file
composer.lock

# Ignore npm lock file
package-lock.json

# Ignore Tailwind CSS build directory
/public/css/input.css
